html,body,ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,table,ol,li,th,td,tr,colgroup,caption{margin:0;padding:0;};
li{list-style:none;};
a{text-decoration: none;};
img{display: block;};
h1,h2,h3,h4,h5,h6{font-weight:normal;};
b,strong{font-weight:normal;};
i,em{font-style:normal;};

.bottom{
    width: 100%;
    height: 245px;
    background-color: #f0f0f0;
    .bottom_con{
        width: 1270px;
        overflow: hidden;
        padding: 40px 0 41px 0;
        margin: auto;
        .bottom_list{
            width: 1226px;
            height: 164px;
            margin: auto;
            position: relative;
            dl{
                margin-right: 85px;
                float: left;
                dt{
                    font-size: 14px;
                    line-height: 14px;
                    padding-bottom: 20px;
                    font-weight: 700;
                }
                dd{
                    a{
                        color: #999;
                        padding-bottom: 12px;
                        font-size: 12px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    img{
                        width: 100px;
                        height: 100px;
                    }
                    .rd{
                        color: red;
                    }
                }
                
            }
            .bottom_r{
                position: absolute;
                right: 0;
                top: 0;
                width: 172px;
                text-align: center;
                margin-right: 0;
                .phone{
                    font-size: 20px;
                    line-height: 20px;
                    padding-bottom: 2px;
                    color: red;
                }
                .grey{
                    font-size: 12px;
                    line-height: 18px;
                    color: #999;
                }
                a{
                    display: inline-block;
                    position: relative;
                    width: 160px;
                    height: 36px;
                    margin-top: 20px;
                    padding: 2px;
                    font-size: 12px;
                    color: red;
                    border: 1px solid red;
                    img{
                        float: left;
                        position: absolute;
                        top: 6px;
                        left: 21px;
                    }
                    span{
                        position: absolute;
                        right: 20px;top: 10px;
                    }
                }
            }
        }
    }
}

.footer{
    width: 100%;
    height: 148px;
    background-color: #e3e3e3;
    .footer_con{
        width: 1270px;
        height: 98px;
        margin: auto;
        position: relative;
        padding: 25px 0;
        ul{
            display: inline-block;
            margin-left: 10px;
            li{
                float: left;
                a{
                    border-right: 1px solid #999;
                    font-size: 12px;
                    padding: 0 15px;
                    color: #666;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .cli{
                    border-right: none;
                }
            }
        }
        p{
            line-height: 22px;
            color: #999;
            font-size: 12px;
            margin-left: 21px;
            a{
                color: #999;
                &:hover{
                    color: #333;
                    text-decoration: underline;
                }
            }
        }
        img{
            width: 88px;
            height: 32px;
        }
        .img1{
            position: absolute;
            bottom: 25px;left: 540px;
        }
        .img2{
            position: absolute;
            bottom: 25px;right: 540px;
        }
        .footer_r{
            position: absolute;
            top: 43px;right: 30px;
            color: #555;
            a{
                color: #555;
                padding: 0 10px;
                font-size: 12px;
            }
        }
    }
}