html,body,ul,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,table,ol,li,th,td,tr,colgroup,caption{margin:0;padding:0;};
li{list-style:none;};
a{text-decoration: none;};
img{display: block;};
h1,h2,h3,h4,h5,h6{font-weight:normal;};
b,strong{font-weight:normal;};
i,em{font-style:normal;};

.god{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    .god_c{
        width: 1270px;
        height: 50px;
        margin: 0 auto;
        p{
            color: #555;
            line-height: 50px;
            margin-left: 21px;
            font-size: 14px;
        }
    }
}

.content{
    width: 100%;
    height: 700px;
    padding-top: 60px;
    border-bottom: 1px solid #e2e2e2;
    .content_c{
        width: 1226px;
        height: 640px;
        margin: auto ;
        .con_left{
            width: 520px;
            height: 640px;
            float: left;
            padding: 0 70px;
            .con_img{
                width: 520px;
                height: 520px;
                border-bottom: 1px solid #ccc;
                img{
                    width: 520px;
                    height: 520px;
                }
            }
            .con_bo{
                width: 520px;
                height: 100px;
                margin-top: 20px;
                text-align: center;
                .ridus{
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    border: 2px solid #ccc;
                    margin: 0 5px;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                .ridus_col{
                    border-color: red;
                }
            }
        }
        .con_right{
            width: 521px;
            height: 640px;
            float: right;
            .con_right_t{
                width: 521px;
                height: 120px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
                h1{
                    font-size: 30px;
                    line-height: 30px;
                    padding-bottom: 20px;
                    color: #333;
                }
                .con_c{
                    width: 521px;
                    height: 38px;
                    p{
                        font-size: 12px;
                        width: 80%;
                        line-height: 19px;
                        color: #999;
                        float: left;
                    }
                    span{
                        float: right;
                        color: #999;
                        font-size: 12px;
                    }
                }
            }
            .con_bot{
                width: 521px;
                height: 74px;
                border-bottom: 1px solid #ccc;
                position: relative;
                .pri{
                    position: absolute;
                    top: 35px;left: 2px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .price{
                    position: absolute;
                    top: 20px;left: 70px;
                    span{
                        font-size: 30px;
                        color: red;
                    }
                    i{
                        font-size: 14px;
                        color: red;
                    }
                }
                em{
                    float: right;
                    font-size: 12px;
                    color: #999;
                    line-height: 74px;
                }
            }
            .con_cn{
                width: 521px;
                height: 115px;
                padding: 22px 0;
                border-bottom: 1px solid #ccc;
                p{
                    font-size: 14px;
                    color: #333;
                }
                .pt{
                    width: 521px;
                    height: 74px;
                    margin-top: 20px;
                    span{
                        display: block;
                        width: 144px;
                        height: 62px;
                        border: 1px solid #ccc;
                        text-align: center;
                        float: left;
                        margin-right: 8px;
                        cursor: pointer;
                        line-height: 64px;
                        color: #666;
                        font-size: 14px;
                    }
                    .show{
                        border-color: red;
                        color: red;
                    }
                }
            }
            .con_bott{
                width: 521px;
                height: 112px;
                position: relative;
                border-bottom: 1px solid #ccc;
                .con_num{
                    width: 88px;
                    height: 62px;
                    border: 1px solid #ccc;
                    position: absolute;
                    top: 21px;left: 0;
                    input{
                        width: 56px;
                        height: 62px;
                        outline: none;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        border: none;
                        border-right: 1px solid #ccc;
                        float: left;
                    }
                    .con_jj{
                        float: right;
                        width: 31px;
                        height: 64px;
                        .toop{
                            display: block;
                            width: 31px;
                            height: 31px;
                            line-height: 31px;
                            cursor: pointer;
                            text-align: center;
                            font-size: 16px;
                            border-bottom: 1px solid #ccc;
                        }
                        .boom{
                            display: block;
                            width: 31px;
                            height: 32px;
                            line-height: 32px;
                            cursor: pointer;
                            text-align: center;
                            font-size: 16px;
                        }
                    }
                }
                .con_bott_g{
                    width: 395px;
                    height: 63px;
                    position: absolute;
                    top: 21px;
                    left: 105px;
                    .con_gt{
                        width: 196px;
                        height: 63px;
                        background-color: red;
                        float: left;
                        line-height: 63px;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;
                    }
                    .con_lt{
                        width: 193px;
                        height: 61px;
                        float: right;
                        line-height: 61px;
                        color: red;
                        text-align: center;
                        border: 1px solid red;
                        cursor: pointer;
                    }
                }
            }
            .tet{
                width: 521px;
                height: 26px;
                padding: 22px 0;
                margin-bottom: 10px;
                border-bottom: 1px solid #ccc;
                span{
                    line-height: 26px;
                    font-size: 12px;
                    color: #999;
                }
                select{
                    outline: none;
                    border: none;
                    color: #999;
                }
                i{
                    margin-left: 10px;
                    font-size: 12px;
                    color: #999;
                }
                em{
                    color: #999;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
            .ls{
                width: 521px;
                height: 12px;
                padding-bottom: 20px;
                font-size: 12px;
                color: #999;
                span{
                    color: #999;
                    font-size: 12px;
                    line-height: 12px;
                    margin-right: 5px;
                }
                i{
                    font-size:12px;
                    color: #999;
                    margin: 0 5px;
                }
            }
        }
    }
}

.good{
    width: 100%;
    height: 76px;
    .good_li{
        width: 1270px;
        height: 76px;
        margin: 0 auto;
        ul{
            text-align: center;
            li{
                display: inline-block;
                line-height: 76px;
                margin: 0 24px;
                cursor: pointer;
                &:hover{
                    color: red;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
}